body {
    font-size: 16px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

input[type=file] {
    margin: 0 auto;
}

.nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

    .nav > li {
        display: inline-block;
        float: none;
    }

section {
    width: 50%;
    margin: 0 auto;
}

img {
    margin-top: 15px;
}

#img2 {
    display: none;
}

#lotteryText {
    font-size: 0.9em;
}

@media screen and (max-width: 480px) {
    section {
        width: 100%;
    }

    .nav > li {
        display: block;
    }

    .container {
        width: 100%;
    }

    #img1 {
        display: none
    }

    #img2 {
        display: block;
    }
}
